<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | LoyalFriend</title>
    <link rel="stylesheet" href="css/404.css">
    <link rel="icon" href="/img/logo.webp">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/626a2e126b.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container-fluid main_menu">
        <div class="row">
            <nav class="navbar navbar-expand-lg ">
                <div id="logo">
                    <img src="img/logo.webp" alt="logoimage" srcset="">
                </div>
                <a href="/" id="name"> LoyalFriend </a>
            </nav>
        </div>
    </div>

    <!-- main header  -->
    <div class="main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class=" main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="img/404.png" alt="Sorry" class="img-fluid">
                    </figure>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button class="btn">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>