<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="icon" href="img/logo.webp">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <title>LoyalFriend | About Us</title>

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body onload="myFunction()">
    <div id="loading"></div>
    
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div id="logo">
            <img src="img/logo.webp" alt="logoimage" srcset="">
          </div>

          <a class="navbar-brand absolute" href="index">LoyalFriend</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Breed</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="breed/german">German Shepherd</a>
                  <a class="dropdown-item" href="breed/labrador">Labrador</a>
                  <a class="dropdown-item" href="breed/rottweiler">Rottweiler</a>
                  <a class="dropdown-item" href="breed/golden">Golden Retriever</a>
                  <a class="dropdown-item" href="breed/bulldog">Bulldog</a>
                  <a class="dropdown-item" href="breed/beagle">Beagle</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organisation</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="organisation/posh">Posh Foundation</a>
                  <a class="dropdown-item" href="organisation/apolo">Apollo Vets Healthcare</a>
                  <a class="dropdown-item" href="organisation/jeevashram">Jeevashram Foundation</a>
                  <a class="dropdown-item" href="organisation/friend">Friendicoes</a>
                  <a class="dropdown-item" href="organisation/redpaw">Red Paws Rescue</a>
                </div>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->
    
    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>About Us</h1>
              <p class="mb-5">LoyalFriend is an online available, searchable database of about 300+ animals who needs care. It is also a directory of 
                nearly 200 animal shelters across various states in India.</p>
              <p><a href="#abou" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- END slider -->

    <section>
      <div class="half d-md-flex d-block">
        <div class="image" style="background-image: url('img/bg5.jpg')"></div>
        <div class="text text-center element-animate">
          <h3 class="mb-4">Our Mission</h3>
          <p class="mb-5">Our mission is to strengthen the bond between animals and people. The connection of love, affection, and
             care will always be the first preference is our basic aim. To ensure the wellness of animals like dogs, cats. We are 
             providing an interface between animal welfare/organizations and the people who want to adopt animals. Our web application 
             concludes several modules and functionalities which are easy to understand and function.</p>
          <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
        </div>
      </div>

      <div class="half d-md-flex d-block">
        <div class="image order-2" style="background-image: url('img/b3.jpg')" ></div>
        <div class="text text-center element-animate">
          <h3 class="mb-4">Company History</h3>
          <p class="mb-5">LoyalFriend is an online available, searchable database of about 300+ animals who needs care. It is also a directory of 
              nearly 200 animal shelters and adoption organizations across various states in India.</p>
          
          <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
        </div>
      </div>

    </section>

    
    
    <section class="section bg-light" id="abou">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class="heading mb-4">The Dog Team</h2>
            <p class="mb-5 lead">"Teamwork is the ability to work together toward a common vision. 
              It is the fuel that allows common people to attain uncommon results." - Andrew Carnegie</p>
          </div>
        </div>
        <div class="row element-animate">
          <div class="major-caousel js-carousel-1 owl-carousel">
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single"><img src="img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Lakshay Saini <br><h6>(BackEnd Developer)</h6> </h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single"><img src="img/person_4.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Anshul Garg <br><h6>(FullStack Developer)</h6></h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single"><img src="img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Ashutosh Mittal <br><h6>(BackEnd Developer)</h6></h3>
                </div>
              </div>
            </div>
          </div>
          <!-- END slider -->
        </div>
      </div>
    </section>
    <!-- END section -->

    
{{>footer}}

</html>