<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="icon" href="img/logo.webp">

    <link rel="stylesheet" href="css/style.css">
    <title>LoyalFriend | Contact Us</title>
  </head>
  <body onload="myFunction()">
    <div id="loading"></div>
    
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div id="logo">
            <img src="img/logo.webp" alt="logoimage" srcset="">
          </div>

          <a class="navbar-brand absolute" href="index">LoyalFriend</a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Breed</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="breed/german">German Shepherd</a>
                  <a class="dropdown-item" href="breed/labrador">Labrador</a>
                  <a class="dropdown-item" href="breed/rottweiler">Rottweiler</a>
                  <a class="dropdown-item" href="breed/golden">Golden Retriever</a>
                  <a class="dropdown-item" href="breed/bulldog">Bulldog</a>
                  <a class="dropdown-item" href="breed/beagle">Beagle</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organisation</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="organisation/posh">Posh Foundation</a>
                  <a class="dropdown-item" href="organisation/apolo">Apollo Vets Healthcare</a>
                  <a class="dropdown-item" href="organisation/jeevashram">Jeevashram Foundation</a>
                  <a class="dropdown-item" href="organisation/friend">Friendicoes</a>
                  <a class="dropdown-item" href="organisation/redpaw">Red Paws Rescue</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="contact">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->
    
    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Contact Us</h1>
              <p class="mb-5">Need Something? While we’re good with smoke signals,
                   there are simpler ways for us to get in touch, and answer your questions.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- END slider -->

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 order-2">
            <form action="#" method="post">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control ">
                </div>
                <div class="col-md-6 form-group">
                  <label for="phone">Phone</label>
                  <input type="number" id="phone" class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="message">Write Message</label>
                  <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" value="Send Message" class="btn btn-primary">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 order-2 mb-5">
            <div class="row justify-content-right">
              <div class="col-md-8 mx-auto contact-form-contact-info">
                <p class="d-flex">
                  <span class="ion-ios-location icon mr-5"></span>
                  <span>34-Golf Course, New Delhi, India</span>
                </p>

                <p class="d-flex">
                  <span class="ion-ios-telephone icon mr-5"></span>
                  <span>+91 123 456 789</span>
                </p>

                <p class="d-flex">
                  <span class="ion-android-mail icon mr-5"></span>
                  <span>info@loyalfriend.com</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <section class="section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class="text-uppercase heading mb-4">Testimonial</h2>
            <p class="mb-5 lead">'A collected poems' is either a gravestone or a testimonial to survival.</p>
          </div>
        </div>
        <div class="row element-animate">
          <div class="major-caousel js-carousel-1 owl-carousel">
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single"><img src="img/person_5.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Anubhav Sinha <em>says...</em></h3>
                  <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus molestiae dicta maxime tempore tenetur, dolores officia, sed laudantium repellendus distinctio rem unde dolorum fugiat eum doloremque, numquam fuga autem nisi.&ldquo;</p>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single"><img src="img/person_4.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Ranjit Bam <em>says...</em></h3>
                  <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus molestiae dicta maxime tempore tenetur, dolores officia, sed laudantium repellendus distinctio rem unde dolorum fugiat eum doloremque, numquam fuga autem nisi.&ldquo;</p>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href="adoption-single"><img src="img/person_6.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Laura Smith <em>says...</em></h3>
                  <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus molestiae dicta maxime tempore tenetur, dolores officia, sed laudantium repellendus distinctio rem unde dolorum fugiat eum doloremque, numquam fuga autem nisi.&ldquo;</p>
                </div>
              </div>
            </div>
          </div>
          <!-- END slider -->
        </div>
      </div>
    </section>
    <!-- END section -->

    {{>footer}}
    {{!-- <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>About LoyalFriend</h3>
            <p class="mb-5">LoyalFriend is an online available, searchable database of about 300+ animals who needs care. It is also a directory of 
              nearly 200 animal shelters and adoption organizations across various states in India.</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="https://twitter.com/" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="https://www.facebook.com/" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.linkedin.com/" class="p-2"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="https://www.instagram.com/" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>

          </div>
          <div class="col-md-5 mb-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">34, New Delhi, India</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">+91 242 442 2490</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span class="text-white">admin@loyalfriend.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="about">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Disclaimers</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> | LoyalFriend.com | All rights reserved  </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/main.js"></script>
  </body> --}}
</html>