<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="icon" href="img/logo.webp">

    <link rel="stylesheet" href="css/style.css">
    <title>LoyalFriend</title>
  </head>
  <body onload="myFunction()">
    <div id="loading"></div>
    
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div id="logo">
            <img src="img/logo.webp" alt="logoimage" srcset="">
          </div>

          <a class="navbar-brand absolute" href="index">LoyalFriend</a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
              <li class="nav-item">
                <a class="nav-link active" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Breed</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="breed/german">German Shepherd</a>
                  <a class="dropdown-item" href="breed/labrador">Labrador</a>
                  <a class="dropdown-item" href="breed/rottweiler">Rottweiler</a>
                  <a class="dropdown-item" href="breed/golden">Golden Retriever</a>
                  <a class="dropdown-item" href="breed/bulldog">Bulldog</a>
                  <a class="dropdown-item" href="breed/beagle">Beagle</a>
                </div>              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organisation</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="organisation/posh">Posh Foundation</a>
                  <a class="dropdown-item" href="organisation/apolo">Apollo Vets Healthcare</a>
                  <a class="dropdown-item" href="organisation/jeevashram">Jeevashram Foundation</a>
                  <a class="dropdown-item" href="organisation/friend">Friendicoes</a>
                  <a class="dropdown-item" href="organisation/redpaw">Red Paws Rescue</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->
    
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>We Love Pets</h1>
              <p class="mb-5">“ A dog is the only thing on earth that loves you more than you love yourself. ”<br>– Josh Billings</p>
              <p><a href="#star" class="btn btn-white btn-outline-white">Get Started</a> </p> 
            </div>
          </div>
        </div>

      </div>

      <div class="slider-item" style="background-image: url('img/slider-2.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Care for dogs</h1>
              <p class="mb-5">“Anybody who doesn’t know what soap tastes like never washed a dog.” <br>– George Carlin</p>
              <p><a href="#start" class="btn btn-white btn-outline-white">Get Started</a> </p>
            </div>
          </div>
        </div>
        
      </div>

    </section>
    <!-- END slider -->

    <section class="section element-animate">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-4"></div>
          <div class="col-md-8 section-heading">
            <h2 id="start">It's a Dog Life</h2>
            <p class="small-sub-heading">Curious story of Dogs</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <img src="img/dog_1.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-4">
            <p>Cairo the military dog was born and bred for the job. He is a Belgian Malinois, a shepherd breed that few
              were familiar with, until Cairo's story became news. After Cairo trained to be a Military Working Dog at a young age,
              he advanced to Navy SEAL training. Cairo was the only dog to accompany Navy SEAL Team 6 as they raided Osama bin Laden's
              compound in Pakistan. Cairo was strapped to his handler as they were lowered from a helicopter, and wore special body armor while 
              bursting into the compound. The dog is the only member of SEAL Team 6 to be publicly named.
            </p>
          </div>
          <div class="col-md-4">
            <p>Dozer, a three-year-old "goldendoodle," saw a bunch of people run by his home in Fulton,
               Maryland. He became so excited that he crossed his invisible fence and started running with them.<span id="dots">...</span>  
               <span id="more"> Seven miles later,
              Dozer crossed the finish line of the Maryland Half Marathon, a fundraising event for the University of 
              Maryland's Greenebaum Cancer Center. The runners did not know Dozer was alone. He returned home the next day, 
              looking so tired that his owners took him to the vet. Word got around, and they realized Dozer was the dog on the 
              marathon's TV coverage. Marathon organizers gave Dozer a special award. Now he has his own runner's page and Facebook
              fan page -and he's raised $21,000 for the cancer center!</span>
            </p>
            <!-- <p><a href="">Learn More <span class="ion-ios-arrow-right"></span></a></p> -->
            <p><button onclick="bu()" id="bu">Learn More <span class="ion-ios-arrow-right"></span></button></p>

          </div>
        </div>
      </div>
    </section>
    
    <section class="section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4" id="star">Every Dog Needs A Good Owner</h2>
            <p class="mb-5 lead">“Such short little lives our pets have to spend with us, and they spend most of it waiting for us to come home each day.” – John Grogan</p>
          </div>
        </div>
        <div class="row element-animate">
          <div class="major-caousel js-carousel-1 owl-carousel">
            <div>
              <div class="media d-block media-custom text-center">
                <a href=""><img src="img/per2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Amelia Howard</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href=""><img src="img/per1.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Lucas Richard</h3>
                </div>
              </div>
            </div>
            <div>
              <div class="media d-block media-custom text-center">
                <a href=""><img src="img/per3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                <div class="media-body">
                  <h3 class="mt-0 text-black">Charles Noah</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Dog Breed Collections</h2>
            <p class="mb-5 lead">“Dogs are better than human beings because they know<br>but do not tell." - Emily Dickinson
            </p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-4 element-animate">
            <a href="breed/german" class="link-thumbnail">
              <h3>German Shepherd</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog_1.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="breed/labrador" class="link-thumbnail">
              <h3>Labrador</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog_2.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="breed/golden" class="link-thumbnail">
              <h3>Golden Retriever</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog_6.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="breed/bulldog" class="link-thumbnail">
              <h3>Bulldog</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog_3.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="breed/rottweiler" class="link-thumbnail">
              <h3>Rottweiler</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog_4.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="breed/beagle" class="link-thumbnail">
              <h3>Beagle</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog_5.jpg" alt="Image placeholder" class="img-fluid">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="breed/husky" class="link-thumbnail">
              <h3>Husky</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog_7.jpg" alt="Image placeholder" class="img-fluid" id="husky">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="breed/pug" class="link-thumbnail">
              <h3>Pug</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog8.jpg" alt="Image placeholder" class="img-fluid" id="husky">
            </a>
          </div>
          <div class="col-md-4 element-animate">
            <a href="breed/indian" class="link-thumbnail">
              <h3>Indian Spitz</h3>
              <span class="ion-plus icon"></span>
              <img src="img/dog9.jpg" alt="Image placeholder" class="img-fluid" id="husky">
            </a>
          </div>
        </div>
        
      </div>
    </section>
    <!-- END section -->

    

    <!-- Organisations section -->
    <section class="section border-t bo bg-light">
      <!-- <div class="container main"> -->
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Dog Organisations</h2>
            <p class="mb-5 lead">“Dogs are better than human beings because they know<br>but do not tell." - Emily Dickinson
            </p>
          </div>
        </div>

    <!-- <section> -->
      <div class="main">
        <div class="card">
          <div class="card-image">
            <img src="img/org1.png" alt="Posh Foundation" style="padding-top: 10px;"></div>
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/posh">Posh Foundation</a></h2>
              <p><br>Breads : Lorem ipsum dolor sit amet <br>Location : New Delhi </p>
            </div>
            <div class="card-stats">
              <div class="stat">
                
                <div class="type">Pets : </div>
                <div class="value"><b>120 +</b></div>
              </div>
              <div class="stat border" id="boderbotm">
                <div class="value">Founded : </div>
                <div class="type"><b>2011</b></div>
              </div>
              <div class="stat stats">
                <a href="organisation/posh"><i class="fas fa-map-marked-alt" style="font-size: 25px; color: white;"></i></a>
              </div>
            </div>
          </div>
        <div class="card">
            <div class="card-image"><img src="img/org2.jpg" alt="Apollo Vets healthcare" style="padding-top: 5px;"></div>
            <div class="card-text">
              <h2><a class="orgname" href="organisation/apolo">Apollo Vets Healthcare</a></h2>
              <p><br>Breads : Lorem ipsum dolor sit amet <br>Location : New Delhi </p>
            </div>
            <div class="card-stats">
              <div class="stat">
                
                <div class="type">Pets : </div>
                <div class="value"><b>80 +</b></div>
              </div>
              <div class="stat border" id="boderbotm">
                <div class="value">Founded : </div>
                <div class="type"><b>2014</b></div>
              </div>
              <div class="stat stats">
                <a href="organisation/apolo"><i class="fas fa-map-marked-alt" style="font-size: 25px; color: white;"></i></a>
              </div>
            </div>
          </div>
        <div class="card">
            <div class="card-image"><img src="img/org3.jpg" alt="Jeevashram foundation" style="padding-top: 10px;"></div>
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/jeevashram">Jeevashram Foundation</a></h2>
              <p><br>Breads : Lorem ipsum dolor sit amet <br>Location : New Delhi </p>
            </div>
            <div class="card-stats">
              <div class="stat">
                
                <div class="type">Pets : </div>
                <div class="value"><b>350 +</b></div>
              </div>
              <div class="stat border" id="boderbotm">
                <div class="value">Founded : </div>
                <div class="type"><b>1990</b></div>
              </div>
              <div class="stat stats">
                <a href="organisation/jeevashram"><i class="fas fa-map-marked-alt" style="font-size: 25px; color: white;"></i></a>
              </div>
            </div>
          </div>
        <div class="card">
            <div class="card-image"><img src="img/org4.jpg" alt="Friendicoes" style="padding-top: 10px;"></div>
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/friend">Friendicoes</a></h2>
              <p><br>Breads : Lorem ipsum dolor sit amet <br>Location : New Delhi </p>
            </div>
            <div class="card-stats">
              <div class="stat">
                
                <div class="type">Pets : </div>
                <div class="value"><b>520 +</b></div>
              </div>
              <div class="stat border" id="boderbotm">
                <div class="value">Founded : </div>
                <div class="type"><b>1970</b></div>
              </div>
              <div class="stat stats">
                <a href="organisation/friend"><i class="fas fa-map-marked-alt" style="font-size: 25px; color: white;"></i></a>
              </div>
            </div>
          </div>
        <div class="card">
            <div class="card-image"><img src="img/org5.jpg" alt="PAWS" style="padding-top: 10px;"></div>
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/paws">PAWS</a></h2>
              <p><br>Breads : Lorem ipsum dolor sit amet <br>Location : New Delhi </p>
            </div>
            <div class="card-stats">
              <div class="stat">
                
                <div class="type">Pets : </div>
                <div class="value"><b>2500 +</b></div>
              </div>
              <div class="stat border" id="boderbotm">
                <div class="value">Founded : </div>
                <div class="type"><b>1962</b></div>
              </div>
              <div class="stat stats">
                <a href="organisation/paws"><i class="fas fa-map-marked-alt" style="font-size: 25px; color: white;"></i></a>
              </div>
            </div>
          </div>
        <div class="card">
            <div class="card-image"><img src="img/org6.jpg" alt="Karma Animal Foundation"></div>
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/karma">Karma Animal Foundation</a></h2>
              <p><br>Breads : Lorem ipsum dolor sit amet <br>Location : New Delhi </p>
            </div>
            <div class="card-stats">
              <div class="stat">
                
                <div class="type">Pets : </div>
                <div class="value"><b>85 +</b></div>
              </div>
              <div class="stat border" id="boderbotm">
                <div class="value">Founded : </div>
                <div class="type"><b>2001</b></div>
              </div>
              <div class="stat stats">
                <a href="organisation/karma"><i class="fas fa-map-marked-alt" style="font-size: 25px; color: white;"></i></a>
              </div>
            </div>
          </div>
        <div class="card">
            <div class="card-image"><img src="img/org10.jpg" alt="Sanjay Gandhi Animal Care Center" style="padding-top: 10px;"></div>
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/sanjay">Sanjay Gandhi Animal Care Center</a></h2>
              <p><br>Breads : Lorem ipsum dolor sit amet <br>Location : New Delhi </p>
            </div>
            <div class="card-stats">
              <div class="stat">
                
                <div class="type">Pets : </div>
                <div class="value"><b>3300 +</b></div>
              </div>
              <div class="stat border" id="boderbotm">
                <div class="value">Founded : </div>
                <div class="type"><b>1983</b></div>
              </div>
              <div class="stat stats">
                <a href="organisation/sanjay"><i class="fas fa-map-marked-alt" style="font-size: 25px; color: white;"></i></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-image"><img src="img/org12.png" alt="Red Paws Rescue"></div>
            <div class="card-text">
              <!-- <span class="date">4 days ago</span> -->
              <h2><a class="orgname" href="organisation/redpaw">Red Paws Rescue</a></h2>
              <p><br>Breads : Lorem ipsum dolor sit amet <br>Location : New Delhi </p>
            </div>
            <div class="card-stats">
              <div class="stat">
                
                <div class="type">Pets : </div>
                <div class="value"><b>180 +</b></div>
              </div>
              <div class="stat border" id="boderbotm">
                <div class="value">Founded : </div>
                <div class="type"><b>2005</b></div>
              </div>
              <div class="stat stats">
                <a href="organisation/redpaw"><i class="fas fa-map-marked-alt" style="font-size: 25px; color: white;"></i></a>
                <!-- <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li> -->
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- organisation section end  -->

    <section class="section blog">
      <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Recent Blog Post</h2>
            <p class="mb-5 lead">Money can buy you a fine dog, but only love can make him<br> wag his tail. - Kinky Fredman </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="img/blog_1.jpg" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">February,2020</span>
                <h3 class="mt-2 text-black"><a href="#">How to Train Your Dog</a></h3>
                <p>Proper training and socialization are among your dog's basic needs. It's important to start training your dog as soon as possible.
                   At first, dog training can seem pretty overwhelming, especially if this is your first dog. </p>
                <p><a href="blog" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>



          </div>
          <div class="col-md-6">
            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="img/blog_2.jpg" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">April,2020</span>
                <h3 class="mt-2 text-black"><a href="#">Find The Right Food For Your Dogs</a></h3>
                <p><a href="blog" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="img/blog_3.jpg" alt="Placeholder image" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">November,2019</span>
                <h3 class="mt-2 text-black"><a href="#">Dog's Affections To Owner</a></h3>
                <p><a href="blog" class="btn btn-primary btn-sm">Read more</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    
{{>footer}}

</html>