    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>About LoyalFriend</h3>
            <p class="mb-5">LoyalFriend is an online available, searchable database of about 300+ animals who needs care. It is also a directory of 
              nearly 200 animal shelters and adoption organizations across various states in India.</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="https://twitter.com/" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="https://www.facebook.com/" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.linkedin.com/" class="p-2"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="https://www.instagram.com/" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>

          </div>
          <div class="col-md-5 mb-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">34, New Delhi, India</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">+91 242 442 2490</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span class="text-white">admin@loyalfriend.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="about.html">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Disclaimers</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> | LoyalFriend.com | All rights reserved  </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

  </body>