@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Piazzolla", serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-bg: #030814;
  --main-color: #0097e6;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#logo{
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 10px 35px;
  }
  #logo img{
    height: 45px;
    margin: 7px 10px;
    transition: 2s;
  }
  #logo img:hover{
    transform: scale(1.3);
  }

  #name{
  position: absolute;
  text-transform: uppercase;
  letter-spacing: .2em;
  top: 18px;
  left: 125px;
  color: rgb(255, 255, 255,0.9);
  font-weight: 500;
  font-family: sans-serif;
  z-index: 1;
  display:inline-block;
  padding-top:0.8rem;
  padding-bottom:0.35rem;
  margin-right:1rem;
  font-size:2rem;
  line-height:inherit;
  white-space:nowrap
}
#name:hover{
text-decoration: none;
}

@media (max-width:620px){
  #name{
    left: 30px;
    font-size: 1.5rem;
  }
  #logo,#logo img{
    display: none;
  }
}

/* navbar style */
.main_menu {
  background-color: var(--main-bg);
}
#title{
  font-size: 2.2rem;
  font-family: 'Open Sans';
}

.navbar {
  color: #fff;
  background-color: var(--main-bg);
  padding: 2rem 0;
  width: 100%;
  height: 11vh;
}

.navbar a {
  color: #fff;
  font-size: 2.8rem;
  transition: all 1s;
}

.navbar a:hover {
  transform: scale(1.1);
}

/* main header part  */

.main_header_left {
  height: 62rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_header_left p {
  font-size: 2rem;
}

.main_header_left h1 {
  font-size: 4rem;
  margin: 1.5rem;
  text-align: center;
  line-height: normal;
  text-transform: capitalize;
  font-weight: normal;
}

.txt_clr {
  color: var(--main-color);
}

.main_header_left button {
  border: none;
  margin-bottom: 5px;
  padding: 0.8rem 1.8rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px black;
  outline: none;
}
.btn{
  background-color: rgb(241, 237, 237);
}
.main_header_left button:hover{
  box-shadow: 0 8px 6px -6px #0097e6;
}

/* 404 error page */

.main_header_left .errimg img {
  width: 60rem;
  height: 30rem;
}