<!doctype html>
<html lang="en">

{{>orgheader}}

    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('../img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Posh Foundation</h1>
              <p class="mb-5">POSH FOUNDATION is a Delhi NCR based NGO actively involved in Animal<br>welfare and awareness related issues.</p>
              <p><a href="#abou" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <br>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112180.78747290086!2d77.2774311582031!3d28.52018800000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce7dbfab2614f%3A0xcf1c70592701c838!2sPosh%20Foundation!5e0!3m2!1sen!2sin!4v1606826122214!5m2!1sen!2sin" width="400" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

{{>otherfooter}}

   </html>