<!doctype html>
<html lang="en">

  {{>breedheader}}
    
    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('../img/german.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>German Shepherd</h1>
              <p class="mb-5">"A German Shepherd is one of the only dogs in the world<br> that loves you more than you love yourself "</p>
              <p><a href="#abou" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <br>

{{>otherfooter}}

   </html>