<!doctype html>
<html lang="en">

{{>breedheader}}    

    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('../img/labra.jpg'); background-position: 45% 45%;">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Labrador</h1>
              <p class="mb-5">Lorem ipsum dolor sit amet,  Commodi unde impedit, <br> necessitatibus, corrupti reiciendis.</p>
              <p><a href="#abou" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <br>

{{>otherfooter}}

   </html>